@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;300&display=swap');

.aboutContainer {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    font-family: 'Poppins', sans-serif; /* Change to 'Montserrat' if preferred */
}

.aboutTitle {
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
}
.p-10 {
    padding: 20px;
}

.profileSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.profileImage {
    width: 95%; /* Adjust based on your preference */
    height:90%;
    max-width: 400px; /* Adjust based on your preference */
    border-radius: 70%;
    border: 4px solid #d0d0d0;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin-bottom: 25px;
}

.profileText {
    text-align: left;
    padding-left: 25px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6; /* 1.5 times the size of the current font */
    margin-bottom: 10px;
}

.profileText h2 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Add more styles as needed */
